- unless pages.empty?
  .stream
    - pages.each do |page|
      %article{:class => css_classes_for(page)}
        %header
          %h1
            %a{:href => url_or_permalink_for(page)}= widont(page.link_text).html_safe
            - if page.is_linked?
              &nbsp;
              %a.permalink{:href => page.permalink } #
        - if speakerdeck =  page.metadata('speaker_deck_id')
          .thumb
            %a{:href => page.abspath}
              %img.frame{:src => speaker_deck_thumb_url(speakerdeck)}
        - if page.summary.nil? || page.summary.empty?
          ~ page.body(self).html_safe
        - else
          ~ page.summary.html_safe
          %p.read_more
            %a(href="#{path_to(page.abspath)}")= page.read_more
        - if youtube = page.metadata('youtube')
          = render 'youtube', :video_id => youtube
