- @title = "Archives - #{@heading}"
.w25 &nbsp;
.w75
  - Nesta::Page.find_articles.group_by {|a| a.date.year}.each do |year, articles|
    %h2.year
      = year
      %span.count== (#{ articles.size })
    %ul.archives
      - articles.each do |article|
        %li
          %a{:href => url_for(article)}
            = article.heading
          - if article.is_linked?
            %a.permalink{:href => article.abspath}
              &#8734;
