%header(role="banner")
  .w25.branding
    %a.logo(href="/")
      %img(alt="logo" src="/wynn/images/logo.png")

    -# %a.logo(href="/")
    -#   - pick = %w(running-man apple contra hogs).shuffle.first
    -#   %img.front(src="/wynn/images/picks/small/#{pick}.png")
    -#   %img.back(src="/wynn/images/picks/small/home.png")
  .w75
    = haml :nav, :layout => false
