%a.jump(href="#")
  jump to &hellip;
%nav(role="navigation")
  %ul
    %li
      %a(href="/archives")
        Archives
        %em Essays and notes
    -# %li
    -#   %a(href="/projects")
    -#     Projects
    -#     %em Open Sourcery
    %li
      %a(href="/talks")
        Talks
        %em
          Slides
          %span.amp &amp;
          video
    %li
      %a(href="/books")
        Books
        %em
          works in print
    -# %li
    -#   %a(href="/tools")
    -#     Toolbox
    -#     %em
    -#       Stuff I use
    %li.about
      %a(href="/about")
        About
        %code
          whoami

