%nav(role="navigation")
  %ul.nav.block-grid.mobile.four-up
    %li
      %a(href="/archives")
        Archives
        %em Essays and notes
    %li
      %a(href="/talks")
        Talks
        %em
          Slides
          %span.amp &amp;
          video
    %li
      %a(href="/books")
        Books
        %em
          works in print
    %li.about
      %a(href="/about")
        About
        %code
          whoami

