- @title = "Page not found"
.splash
  %a.logo(href="/")
    %img(alt="logo" src="/wynn/images/logo.png")
  %h1
    Oops, page not found.
  %h2
    Definitely
    %em not
    WYNNING.

.w33 &nbsp;

.w33
  %p
    So sorry. Seems like part of the Internet is broken. Perhaps you can find what you're looking for in the
    %a(href="/archives") archives?


  .return
    %a(href="/") [ Home ]
