- if @page.date

  - haml_tag (defined?(heading) ? heading : :h1) do
    %a{ :href =>  url_for(@page) }
      = @page.heading

  ~ @page.body

  = haml :"shared/sharing", :layout => false
  = haml :"shared/author", :layout => false


- else
  ~ @page.to_html(self)


