- @page_role = 'article' if @page.date
.row
  .two.columns
    &nbsp;
  .eight.columns

    - if @page.date
      %article.post{:class => css_classes_for(@page)}
        - haml_tag (defined?(heading) ? heading : :h1) do
          %a{ :href =>  url_for(@page) }<
            = @page.heading
          - if @page.is_linked?
            %a.permalink{:href => url_for(@page)}
              &rarr;
        ~ @page.body




    - else
      ~ @page.to_html(self)

    - unless @page.articles.empty?
      %section.page-articles
        = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }


    = haml :summaries, :layout => false, :locals => { :pages => @page.pages, :heading => :h3 }
  %aside.two.columns
    = haml :ad, :layout => false

