- if @page.date
  -# article
  .row
    .nine.columns
      ~ @page.to_html(self)

      - unless @page.is_linked?
        = haml :"shared/author", :layout => false

      = haml :"shared/sharing", :layout => false
    .three.columns
      %strong Popular posts
- else
  - # page
  ~ @page.to_html(self)
