.secondary &nbsp;
.primary
  ~ @page.to_html(self)
%aside.w25
  = haml :ad, :layout => false
.projects
  - @page.pages.each do |project|
    .project{:class => project.metadata('tags').to_s.split(',').join(' ')}
      .w25.align_right
        = haml :github, :layout => false, :locals => {:repo => project.metadata('repo')}
      .w50
        - haml_tag (defined?(heading) ? heading : :h2) do
          %a{ :href => project.abspath }= project.heading
        .summary= project.summary
      .w25 &nbsp;
