- unless pages.empty?
  .posts
    - pages.each do |page|
      %article{:class => css_classes_for(page)}
        - haml_tag (defined?(heading) ? heading : :h2) do
          %a{ :href =>  url_for(page) }<
            = page.heading
          - if page.is_linked?
            %a.permalink{:href => page.permalink}
              &#8734;
        - if page.is_linked?
          ~ page.body
        - else
          ~ page.summary



