.secondary &nbsp;
.primary
  ~ @page.to_html(self)

%aside.w25
  = haml :ad, :layout => false
.talks
  - @page.articles.each do |talk|
    %article.talk{:class => talk.metadata('tags').to_s.split(',').join(' ')}
      .w25.align_right
        - unless talk.metadata('speaker_deck_id').nil?
          %a{:href => talk.abspath}
            %img{:src => speaker_deck_thumb_url(talk.metadata('speaker_deck_id'))}
        &nbsp;
      .w50
        - haml_tag (defined?(heading) ? heading : :h2) do
          %a{ :href => talk.abspath }= talk.heading
        .summary= talk.summary
      .w25 &nbsp;
