#wynning.w100
  %ul.wynning
    %li.logo-mark
      %a(href="/about") Wynn Netherland
      on design, development, and general geekery.
    %li
      %a.gowalla(href="http://gowalla.com/pengwynn") Gowalla
    %li
      %a.facebook(href="http://facebook.com/pengwynn") Facebook
    %li
      %a.dribbble(href="http://dribbble.com/pengwynn") Dribbble
    %li
      %a.linked-in(href="http://linkedin.com/in/netherland") LinkedIn
    %li
      %a.github(href="http://github.com/pengwynn") GitHub
    %li
      %a.twitter(href="http://twitter.com/pengwynn") Twitter
    %li
      %strong #wynning:

