.row
  .three.columns &nbsp;
  .six.columns
    ~ @page.to_html(self)
  %aside.three.columns.hide-on-phones
    = haml :ad, :layout => false

.talks
  - @page.articles.each do |talk|
    %article.talk.row{:class => talk.metadata('tags').to_s.split(',').join(' ')}
      .twelve.columns
        .three.phone-one.columns.align-right
          - unless talk.metadata('speaker_deck_id').nil?
            %a{:href => talk.abspath}
              %img{:src => speaker_deck_thumb_url(talk.metadata('speaker_deck_id'))}
          &nbsp;
        .six.columns.phone-three
          - haml_tag (defined?(heading) ? heading : :h2) do
            %a{ :href => talk.abspath }= talk.heading
          .summary= talk.summary
