#wynning.align-left
  %ul.wynning.nav
    %li.hide-on-phones
      %a.facebook(href="http://facebook.com/pengwynn") Facebook
    %li.hide-on-phones
      %a.linked-in(href="http://linkedin.com/in/netherland") LinkedIn
    %li.hide-on-phones
      %a.github(href="http://github.com/pengwynn") GitHub
    %li.hide-on-phones
      %a.twitter(href="http://twitter.com/pengwynn") Twitter
    %li.hide-on-phones
      %strong #wynning:
  %a(href="/about") Wynn Netherland
  = no_widow("on design, development, and general geekery.")
