!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }

    -# Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= @page.title

    %link(href='http://feeds.feedburner.com/wynn' rel='alternate' type='application/atom+xml')
    %link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic' rel='stylesheet' type='text/css')
    %link(rel='stylesheet' type='text/css' href='/css/application.css')

    %link(rel='icon' type='image/png' href='/images/favicon-alt.png')

  %body
    #mobile-nav.show-on-mobile
      = render_navigation
      .container
        %a.nav-toggle.open(href="#mobile-nav") &equiv;
        %a.nav-toggle.close(href="#") &equiv;
    .container
      .banner
        .branding
          %a(href="/")
            %img.logo(src="/images/pengwynn.png")
        .hide-on-mobile
          = render_navigation
      = yield
