.lead
  :markdown
    My name is [Wynn Netherland][wynnfm]. I am a Christian, husband, father,
    podcaster, and API geek. I am @[pengwynn][twitter] most everywhere. I work at GitHub.

    [twitter]: https://twitter.com/pengwynn
    [wynnfm]: http://wynn.fm

