.lead
  :markdown
    My name is [Wynn Netherland][wynnfm]. I am a Christian, husband, father,
    writer, podcaster, and API geek. I'm @[pengwynn][twitter] most places. I work at&nbsp;GitHub.

    [twitter]: https://twitter.com/pengwynn
    [wynnfm]: http://wynn.fm

