.lead
  :markdown
    I'm [Wynn Netherland][name]. I follow Jesus. I dig APIs, dotfiles, and text mode.
    I work at [GitHub][]. Folks call me&nbsp;@[pengwynn][].

    [name]: /about
    [GitHub]: https://github.com
    [pengwynn]: https://twitter.com/pengwynn
