%meta{ :charset => "utf-8" }
- if @description
  %meta(name="description" content=@description)
- if @keywords
  %meta(name="keywords" content=@keywords)

- if @page
  - image = image_for_page(@page)

  / Google Authorship and Publisher Markup
  %link(rel='icon' type='image/png' href='/images/favicon-alt.png')
  %link(rel='author' href='https://plus.google.com/+WynnNetherland/posts')

  / Schema.org markup for Google+
  %meta{:content => @title, :itemprop => "name"}/
  - if @description
    %meta{:content => @description, :itemprop => "description"}/
  - if image
    %meta{:content => image, :itemprop => "image"}/

  / Twitter Card data
  /%meta{:content => "summary_large_image", :name => "twitter:card"}/
  %meta{:content => "@pengwynn", :name => "twitter:site"}/
  %meta{:content => @title, :name => "twitter:title"}/
  %meta{:content => @description, :name => "twitter:description"}/
  %meta{:content => "@pengwynn", :name => "twitter:creator"}/

  / Twitter summary card with large image must be at least 280x150px
  /%meta{:content => "http://www.example.com/image.html", :name => "twitter:image:src"}/

  / Open Graph data
  %meta{:content => @title, :property => "og:title"}/
  %meta{:content => "article", :property => "og:type"}/
  %meta{:content => "http://wynnnetherland.com#{@page.permalink}", :property => "og:url"}/
  - if image
    %meta{:content => image, :property => "og:image"}/
  %meta{:content => @description, :property => "og:description"}/
  %meta{:content => "Wynn Netherland", :property => "og:site_name"}/
  - if @page.date
    %meta{:content => @page.date, :property => "article:published_time"}/
  %meta{:content => @page.mtime, :property => "article:modified_time"}/
  /%meta{:content => "Article Section", :property => "article:section"}/
  /%meta{:content => "Article Tag", :property => "article:tag"}/
  %meta{:content => "605681706", :property => "fb:admins"}/
