%article.page{:class => css_classes_for(@page)}
  - if @page.date
    - if @page.is_linked?
      %h1
        %a.external{:href => @page.metadata('url')}= @page.heading
    - else
      %h1= widont(@page.heading)
    ~ pipeline(@page.body(self))
    %p.post-meta
      %a{:href => @page.permalink} #
      - if @page.is_linked?
        Shared on
      - else
        Posted on
      %time{:datetime => @page.date, :title => @page.date}= @page.date.strftime("%d %b %Y")
  - else
    ~ pipeline(@page.to_html(self))
  = haml :related, :layout => false
%br

