%ul.social-links
  %li.twitter
    %a(href='https://twitter.com/pengwynn' title='Follow on @pengwynn Twitter') &#xe006;
  %li.facebook
    %a(href='https://facebook.com/pengwynn' title='Friend me on Facebook') &#xe008;
  %li.github
    %a(href='https://github.com/pengwynn' title='Check out my open source projects') &#xe002;
  %li.flickr
    %a(href='http://www.flickr.com/photos/wynnux/' title='View my photostream') &#xe004;
  %li.linked-in
    %a(href='http://www.linkedin.com/in/netherland/' title='Connect if your\'re Enterprisey') &#xe011;
  %li.rss
    %a(href='http://feeds.feedburner.com/wynn' title='Grab the feed') &#xe018;
