/* line 3, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .EmbeddedSource {
  background-color: #0C0C0C;
}

/* line 6, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .LibraryObject {
  font-weight: normal;
  color: #6E9CBE;
}

/* line 10, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Section {
  font-style: italic;
}

/* line 13, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .FunctionArgumentAndResultTypes {
  color: #70727E;
}

/* line 16, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .TypeName {
  text-decoration: underline;
}

/* line 19, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Number {
  color: #C28439;
}

/* line 22, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic {
  background-color: #FFFFFF;
  background: #111;
  color: #f0f0f0;
  padding: 10px;
  font-family: Monaco, Consolas, monospace;
  font-size: 12.5px;
  overflow: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 5px;
}

/* line 32, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupList {
  color: #B90690;
}

/* line 35, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupTagAttribute {
  font-style: italic;
}

/* line 38, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .LibraryVariable {
  font-weight: normal;
  color: #21439C;
}

/* line 42, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .line-numbers {
  background-color: #4D97FF;
  color: #000000;
}

/* line 46, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .FunctionParameter {
  font-style: italic;
}

/* line 49, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupTag {
  color: #6E9CBE;
}

/* line 52, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupHeading {
  font-weight: normal;
  color: #0C07FF;
}

/* line 56, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .JsOperator {
  color: #687687;
}

/* line 59, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .InheritedClassName {
  font-style: italic;
}

/* line 62, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .StringInterpolation {
  color: #26B31A;
}

/* line 65, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupQuote {
  color: #000000;
  font-style: italic;
}

/* line 69, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupNameOfTag {
  font-weight: normal;
}

/* line 72, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .InvalidTrailingWhitespace {
  background-color: #FFD0D0;
}

/* line 75, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .LibraryConstant {
  font-weight: normal;
  color: #06960E;
}

/* line 79, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupXmlDeclaration {
  color: #68685B;
}

/* line 82, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .EmbeddedEmbeddedSource {
  background-color: #0E0E0E;
}

/* line 85, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .PreprocessorDirective {
  font-weight: normal;
  color: #0C450D;
}

/* line 89, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .BuiltInConstant {
  font-weight: normal;
  color: #6E9CBE;
}

/* line 93, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupDtd {
  font-style: italic;
}

/* line 96, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Invalid {
  background-color: #990000;
  color: #FFFFFF;
}

/* line 100, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .LibraryFunction {
  font-weight: normal;
  color: #6E9CBE;
}

/* line 104, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .String {
  color: #A5C261;
}

/* line 107, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .UserDefinedConstant {
  font-weight: normal;
  color: #A1C2DA;
}

/* line 111, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Keyword {
  font-weight: normal;
  color: #FF7D00;
}

/* line 115, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .MarkupDoctype {
  color: #888888;
}

/* line 118, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .FunctionName {
  font-weight: normal;
  color: #6E9CBE;
}

/* line 122, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .PreprocessorLine {
  color: #1A921C;
}

/* line 125, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Variable {
  color: #318495;
}

/* line 128, ../../app/views/themes/wynn/stylesheets/mac_classic.scss */
pre.mac_classic .Comment {
  color: #5B5B5B;
  font-style: italic;
}
