/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/views/themes/wynn/stylesheets/_typography.scss */
body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 10, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h1, h2, h3, h4, h5 {
  line-height: 1.1em;
  font-family: "GnuolaneRgRegular", Helvetica,Arial,sans-serif;
  margin: 0 0 .3em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  color: #555;
  letter-spacing: .02em;
  text-transform: uppercase;
}
/* line 18, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h1 em, h2 em, h3 em, h4 em, h5 em {
  font-family: "GnuolaneRgBold", Helvetica,Arial,sans-serif;
  color: #000;
}

/* line 24, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h1 {
  font-size: 48px;
  line-height: 1em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
  color: #111;
  font-family: "GnuolaneRgBold", Helvetica,Arial,sans-serif;
}

/* line 33, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.wf-active h1 {
  visibility: visible;
}

/* line 37, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h2 {
  font-size: 32px;
}

/* line 38, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h3 {
  font-size: 28px;
}

/* line 39, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h4 {
  font-size: 24px;
  font-family: "GnuolaneRgBold", Helvetica,Arial,sans-serif;
  color: #333;
}

/* line 40, ../../app/views/themes/wynn/stylesheets/_typography.scss */
h5 {
  font-size: 22px;
  font-family: "GnuolaneRgBold", Helvetica,Arial,sans-serif;
  color: #666;
}

/* line 42, ../../app/views/themes/wynn/stylesheets/_typography.scss */
#articles h2 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  font-family: "GnuolaneRgRegular", Helvetica, Arial, sans-serif;
}
/* line 45, ../../app/views/themes/wynn/stylesheets/_typography.scss */
#articles h2 a {
  color: #333;
  font-weight: normal;
}

/* line 48, ../../app/views/themes/wynn/stylesheets/_typography.scss */
p {
  margin: 0 0 1.5em;
}

/* line 55, ../../app/views/themes/wynn/stylesheets/_typography.scss */
a:link,
a:visited,
a:hover,
a:active {
  color: #111111;
  text-decoration: none;
  font-weight: bold;
}

/* line 57, ../../app/views/themes/wynn/stylesheets/_typography.scss */
ul#nav {
  font-weight: bold;
}
/* line 59, ../../app/views/themes/wynn/stylesheets/_typography.scss */
ul#nav a {
  font-weight: normal;
}

/* line 62, ../../app/views/themes/wynn/stylesheets/_typography.scss */
code {
  font-family: Monaco, Consolas, monospace;
  background: rgba(0, 0, 0, 0.1);
  line-height: 15px;
  font-size: 13px;
}
/* line 67, ../../app/views/themes/wynn/stylesheets/_typography.scss */
code a {
  font-weight: normal !important;
  color: inherit;
}

/* line 70, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.date, .hand {
  font-family: SeanRegular;
}

/* line 72, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.hand {
  text-transform: none;
}

/* line 74, ../../app/views/themes/wynn/stylesheets/_typography.scss */
a#home {
  font-family: SeanRegular;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
}
/* line 81, ../../app/views/themes/wynn/stylesheets/_typography.scss */
a#home span.name {
  font-family: "LeagueGothicRegular";
  font-size: 2em;
  text-transform: uppercase;
  vertical-align: sub;
  font-weight: normal;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
}

/* line 85, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact {
  text-align: right;
}
/* line 87, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact h1, .impact h2 {
  text-transform: none;
  font-family: "SeanRegular",sans-serif;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1em;
  text-shadow: none;
  color: #000;
}
/* line 95, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact h1 span.name, .impact h2 span.name {
  line-height: 1em;
  color: #000;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  vertical-align: -20%;
  font-size: 3em;
  font-family: "GnuolaneRgBold", Helvetica,Arial,sans-serif;
}
/* line 105, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact h2 {
  font-family: "SeanRegular", sans-serif;
  font-size: 1.8em;
}
/* line 108, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact h2 span.name {
  font-size: 2em;
}
/* line 110, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.impact span.amp {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
}

/* line 113, ../../app/views/themes/wynn/stylesheets/_typography.scss */
span.amp {
  font-family: Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;
  font-style: italic;
}

/* line 119, ../../app/views/themes/wynn/stylesheets/_typography.scss */
body.home .intro {
  font-size: 1.2em;
  line-height: 2em;
  color: #999999;
  /*a { font-family: SeanRegular; font-weight: normal;}*/
}
/* line 124, ../../app/views/themes/wynn/stylesheets/_typography.scss */
body.home .intro a {
  color: white;
}

/* line 130, ../../app/views/themes/wynn/stylesheets/_typography.scss */
.note {
  font-family: SeanRegular;
  font-size: 20px;
  padding: 10px;
  float: right;
}

/* line 133, ../../app/views/themes/wynn/stylesheets/_typography.scss */
p.read-more {
  text-align: right;
}

/* line 135, ../../app/views/themes/wynn/stylesheets/_typography.scss */
footer {
  color: #666666;
  text-align: right;
  font-size: .8em;
}

/* line 11, ../../app/views/themes/wynn/stylesheets/screen.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 13, ../../app/views/themes/wynn/stylesheets/screen.scss */
body {
  background: #333333;
}

/* line 17, ../../app/views/themes/wynn/stylesheets/screen.scss */
body.home #top-wrap {
  height: 220px;
}

/* line 21, ../../app/views/themes/wynn/stylesheets/screen.scss */
#top-wrap {
  background: #f0f0f0;
  padding: 1em 0 2em;
  border-bottom: solid 2px #aaa;
}

/* line 26, ../../app/views/themes/wynn/stylesheets/screen.scss */
header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
header {
  display: block;
}

/* line 30, ../../app/views/themes/wynn/stylesheets/screen.scss */
ul#nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
ul#nav {
  display: block;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul#nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 41, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul#nav li:first-child, ul#nav li.first {
  padding-left: 0px;
}
/* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul#nav li:last-child, ul#nav li.last {
  padding-right: 0px;
}

/* line 35, ../../app/views/themes/wynn/stylesheets/screen.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#wrapper {
  display: block;
}

/* line 39, ../../app/views/themes/wynn/stylesheets/screen.scss */
.breadcrumb {
  margin: 0 0 1em;
}

/* line 44, ../../app/views/themes/wynn/stylesheets/screen.scss */
.impact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding-top: 40px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .impact {
  overflow-x: hidden;
}

/* line 51, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons {
  line-height: 48px;
}
/* line 53, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a {
  display: inline-block;
  padding-left: 38px;
  background-position: left center;
  background-repeat: no-repeat;
}
/* line 54, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href='/blog'] {
  padding-left: 0px;
}
/* line 55, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='twitter'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/twitter-32x32.png);
}
/* line 56, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='tumblr'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/tumblr-32x32.png);
}
/* line 57, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='github'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/github-32x32.png);
}
/* line 58, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='dribbble'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/dribbble-32x32.png);
}
/* line 59, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='linkedin'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/linkedin-32x32.png);
}
/* line 60, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='facebook'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/facebook-32x32.png);
}
/* line 61, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='delicious'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/delicious-32x32.png);
}
/* line 62, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='readernaut'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/readernaut-32x32.png);
}
/* line 63, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='slideshare'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/slideshare-32x32.png);
}
/* line 64, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='vimeo'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/vimeo-32x32.png);
}
/* line 65, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='flickr'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/flickr-32x32.png);
}
/* line 66, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='last.fm'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/lastfm-32x32.png);
}
/* line 67, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='gowalla'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/gowalla-32x32.png);
}
/* line 68, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='skype'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/skype-32x32.png);
}
/* line 69, ../../app/views/themes/wynn/stylesheets/screen.scss */
.intro.with-icons a[href*='mailto'] {
  background-image: url(http://static.wynnnetherland.com/images/smi/email-32x32.png);
}

/* line 72, ../../app/views/themes/wynn/stylesheets/screen.scss */
#content {
  margin-top: 1em;
}

/* line 76, ../../app/views/themes/wynn/stylesheets/screen.scss */
article {
  padding: 2em 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}
/* line 79, ../../app/views/themes/wynn/stylesheets/screen.scss */
article:last-child {
  border: none;
}

/* line 84, ../../app/views/themes/wynn/stylesheets/screen.scss */
#middle-wrap {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin-top: 1em;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#middle-wrap {
  display: block;
}

/* line 90, ../../app/views/themes/wynn/stylesheets/screen.scss */
body.home #middle section.wynn {
  left: 50%;
  margin: -88px 0 0 -460px;
  position: absolute;
  width: 270px;
}
/* line 95, ../../app/views/themes/wynn/stylesheets/screen.scss */
body.home #middle section.wynn img.wynn {
  margin-top: -100px;
}
/* line 97, ../../app/views/themes/wynn/stylesheets/screen.scss */
body.home #middle .intro {
  display: inline;
  float: left;
  margin-right: 0;
  width: 670px;
  padding-left: 280px;
  padding-top: 1em;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.home #middle .intro {
  overflow-x: hidden;
}

/* line 100, ../../app/views/themes/wynn/stylesheets/screen.scss */
#meta {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-top: 6em;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #meta {
  overflow-x: hidden;
}

/* line 105, ../../app/views/themes/wynn/stylesheets/screen.scss */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}
/* line 109, ../../app/views/themes/wynn/stylesheets/screen.scss */
body.article #content, body.project #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.article #content, * html body.project #content {
  overflow-x: hidden;
}

/* line 117, ../../app/views/themes/wynn/stylesheets/screen.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  padding-top: 3em;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}

/* line 122, ../../app/views/themes/wynn/stylesheets/screen.scss */
footer {
  margin-top: 1em;
  padding: 1em 0;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
footer {
  display: block;
}

/* line 128, ../../app/views/themes/wynn/stylesheets/screen.scss */
pre {
  margin-bottom: 1.5em;
}
