- @title = "Archives - #{@heading}"

~ @page.to_html(self)

- Nesta::Page.find_articles.group_by {|a| a.date.year}.each do |year, articles|
  .archive-year.list-group
    %h2.year
      = year
    %ul.archives
      - articles.each do |article|
        %li
          %a{ :href => url_or_permalink_for(article) }>= article.heading
          - if article.is_linked?
            &nbsp;
            %a.permalink{ :href => article.permalink } #
