~ @page.to_html(self)

.page
  .content
    .slide-container
      %script(async src="//speakerdeck.com/embed/#{@page.metadata('speaker_deck_id')}.js?size=preview")
    - unless (vimeo_id = @page.metadata('vimeo_id')).nil?
      %iframe(src="http://player.vimeo.com/video/#{@page.metadata('vimeo_id')}?title=0" width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

