categories: journal
summary: The quality and detail of App Store application change logs varies a great deal.
date: 2011-09-17

%h1 App Store change logs: the good, the bad, and the silly

:markdown
  The amount of detail in App Store application changelogs varies a great deal.


  Maybe I have an unhealthy obsession with [changelogs](http://thechangelog.com), but when I see pending updates to download
  from the App Store, I want to know what's new and what's fixed. I only tap 'Update all' after I've checked out the changelog for each updated app one-by-one. Some
  developers do a great job at communicating changes. Some do not.


  ## The good

  What does a nice, informative update look like? [Runkeeper](http://itunes.apple.com/us/app/runkeeper/id300235330?mt=8), my favorite iOS fitness app, does a fantastic job of
  providing the right level of detail. Seeing such a long list of bug fixes doesn't scare me as a user. Instead, this sort of transparency shows me the app is under active development
  and that any issues I find have a good shot at getting fixed.

%pre.plain
  :plain
    What's New in Version 2.4.8.0
    Primarily a bug fix build.

    Bug Fixes:
    - Fixed iOS 3.x compatibility.
    - Fix for trip resend crash.
    - Fixed crash due to GPS lock not being acheived within timeout period (usually happened at app startup or shortly after starting the app).
    - Fixed a crash when selecting friends you ran with when a timeout occurs.
    - Fixed a crash caused by the friend tag view.
    - Fixed some block related memory and crash problems.
    - Fixed problem with activity privacy settings not always setting to "Just Me" when it should.
    - Fixed display of Nan for speed display.
    - Increased timeout for network operations.
    - Eliminated sound latency with backgrounding.
    - Memory improvements.
    - Fixed a potential deadlock in selecting activities on the history screen if activity synchronization finished at the same time.
    - Stop location services when in manual entry mode.
    - Minor UI improvements.
    - Don't duplicate street teammates and facebook friends when we can associate them in friend tag selection.
    - Fixed a rare crash caused by the map when an activity is dismissed.
    - Disassociate discarded trips from selected class session if a session is selected for the trip. This allows the user to re-select that class session.

:markdown

  ## The bad

  It seems the bigger the company behind an app, the less detailed the changelog. Take the latest update for the [DirectTV
  app](http://itunes.apple.com/us/app/directv/id307386350?mt=8):


%pre.plain
  :plain
    What's New in Version 2.0.4
    New in this version:
    - Stability updates

:markdown
  The [New York Times](http://itunes.apple.com/us/app/nytimes/id284862083?mt=8) doesn't do much better.

%pre.plain
  :plain
      What's New in Version 3.2.2
      - Stability and performance enhancements
      - We appreciate your patience and support while we continue to work to improve this app

      ***If you have any problems or have comments or suggestions for improving our app, please contact us at nytmobile@nytimes.com or call 1-800-591-9233, and we will do our best to assist you. Your feedback is important to us.***
:markdown

  At least the Times provides a way to provide feedback.

  ## The silly

  While terse changelogs like these provide little info, verbosity isn't a cureall, either. This post was sparked by an update today to my favorite iOS pastime, [Words with Friends](http://itunes.apple.com/us/app/words-with-friends/id322852954?mt=8).
  The latest version actually includes some nice new features, but it's couched in cutesy language that leaves you looking for a TLDR;

%pre.plain
  :plain
    What's New in Version 4.07
    Patch 4.07 is just like that fluffy, wag-tailed puppy you can't help but love.

    - Laugh as it races and frolics around the yard with faster updating and loading speeds. Good boy!
    - "Fetch, 4.07!" You can now check your other With Friends moves (Chess, Hanging) from inside Words!
    - 4.07 licks your game on its cheek when it's feeling blue. Multiple crashes fixed!
    - "Lead the way, boy!" 4.07 makes sure push notifications lead you to the right game.

    What a good patch!
    If you think 4.07's just the cutest thing ever (we think it is), please toss it a patch treat (5 star rating) so it knows it's doing the right thing.

    As always, please let us know how we can make the Words experience better for you, and we'll keep the updates coming :)

    XOXO,
    The Words Whisperers

:markdown
  As Adam Sandler once said, "Who are the ad wizards that came up with this one?"

  Just tell me what's new and what's fixed, so I can decide if your update is worth the bother.
