body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

h1,h2,h3,h4,h5 {
  line-height: 1.1em;
  font-weight: normal;
  font-family: "LeagueGothicRegular", Helvetica, Arial,sans-serif;
  text-transform: uppercase;
  margin: 0 0 .3em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  color: #333;
  font-family:  Times,Georgia,serif; 
  font-style: italic;
  text-transform: none; 
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
  color: #111;
  font-family: "LeagueGothicRegular", Helvetica, Arial,sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.wf-active h1 {
  visibility: visible;
}

h2 { font-size: 28px; color: #333; font-style: normal; }
h3 { font-size: 24px;}
h4 { font-size: 20px; font-weight: bold;}
h5 { font-size: 16px; font-weight: bold; font-style: normal;} 

#articles h2 {
  font-family: "LeagueGothicRegular";
  font-size: 40px;
  text-transform: uppercase; 
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); 
  font-style: normal;
  a {font-weight: normal;}
}

p {
  margin: 0 0 1.5em;
}

a:link,
a:visited,
a:hover,
a:active {color: $link-color; text-decoration: none; font-weight: bold;}

ul#nav {
  font-weight: bold;
  a {font-weight: normal;}
}

code {
  font-family: Monaco, Consolas, monospace;
  background: rgba(0,0,0,.1);
  line-height: 15px;
  font-size: 13px;
  a {font-weight: normal !important; color: inherit;};
}

.date, .hand {font-family: SeanRegular;}

.hand {text-transform: none;}

a#home {
  font-family: SeanRegular;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
  span.name {font-family: "LeagueGothicRegular"; font-size: 2em; text-transform: uppercase; vertical-align: sub; font-weight: normal;   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);}
  
}

.impact {
  text-align: right;
  font-size: 1.2em;
  h1, h2 {
    text-transform: none;
    font-family: "SeanRegular",sans-serif;
    font-style: normal;
    font-size: 1.6em;
    line-height: 1em;
    text-shadow: none;
    span.name {
      line-height: 1em;
      color: #000;
      text-shadow:2px 2px 0 rgba(0, 0, 0, 0.2);
      text-transform:uppercase;
      vertical-align:-20%;
      font-size: 3em;
      font-family: "LeagueGothicRegular",sans-serif;
    }
  }
  h2 {
    font-family: "SeanRegular", sans-serif;
    font-size: 1.8em;
    span.name { font-size: 2em; }
  }
  span.amp {text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);}
}

span.amp {
  font-family: Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;
  font-style: italic;
}


body.home .intro {
  font-size: 1.2em;
  line-height: 2em;
  color: lighten($footer-background, 40%);
  /*a { font-family: SeanRegular; font-weight: normal;}*/
  a {
    color: lighten($footer-background, 80%);
  }
  
}

.note {font-family: SeanRegular; font-size: 20px; padding: 10px; float: right;}


p.read-more { text-align: right;}

footer {
  color: lighten($footer-background, 20%);
  text-align: right;
  font-size: .8em;
}