// `Nav and branding
//----------------------------------------------------------------------------------------------------

#masthead
  padding: $groove-padding 0


.logo-mark
  max-height: 128px
  max-width: 128px
  vertical-align: middle

// `Ad
//----------------------------------------------------------------------------------------------------
#ad
  font-size: 12px
  font-family: "Lucida Grande", Helvetica, sans-serif
  line-height: 15px
  margin-top:  196px
  a
    color: #888
    &:hover
      color: #333

// `Footer
//----------------------------------------------------------------------------------------------------
.site-footer
  +leader(2)
  +trailer(2)

// `Author block
//----------------------------------------------------------------------------------------------------
.about-the-author
  +padding-leader
  +leader
  border-top: solid 1px #ddd


