// `Nav and branding
//----------------------------------------------------------------------------------------------------

#masthead
  padding: $groove-padding 0


.logo-mark
  max-height: 128px
  max-width: 128px
  vertical-align: middle

// `Ad
//----------------------------------------------------------------------------------------------------
#ad
  font-size: 10px
  font-family: "Lucida Grande", Helvetica, sans-serif
  line-height: 15px
  margin-top: 75px
  a
    color: #555
    &:hover
      color: #333
  .save
    display: block
    margin-top: 1em
  img
    +box-shadow(1px 1px 2px 2px rgba(0,0,0,.2))

// `Footer
//----------------------------------------------------------------------------------------------------
.site-footer
  +leader(2)
  +trailer(2)

// `Author block
//----------------------------------------------------------------------------------------------------
.about-the-author
  +padding-leader
  +leader
  border-top: solid 1px #ddd

// `Sharing
//----------------------------------------------------------------------------------------------------
.addthis_toolbox
  margin-top: 1em

// `Utility
//----------------------------------------------------------------------------------------------------
.max-400
  max-height: 400px
