/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "typography";



section, article, aside, header, footer, nav, dialog, figure { display:block; }

body {
  background: #ddd;

}

#top-wrap {
  background: #fff;
  padding: 2em 0;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

.impact {
  background:url("/images/intro.png") no-repeat scroll left bottom transparent;
  height:220px;
  margin-bottom:-160px;
  padding:45px 30px 75px 0;
}

#intro {
  clear: both;
  margin-top: 200px;
}

#content {
  margin-top: 1em;
  width: 700px;
}

footer {
  margin-top: 1em;
  clear: both;
  width: 960px;
  margin: 1em auto;
  padding: 1em 0;
}

pre {
  margin-bottom: 1.5em;
}