@import "colors";
@import "compass/reset";
@import "blueprint/grid";
@import "compass/css3";
@import "compass/utilities";
@import "typography";
@import "links";



section, article, aside, header, footer, nav, dialog, figure { display:block; }

body {
  background: $footer-background;
}

body.home #top-wrap {
  height: 220px;
}

#top-wrap {
  background: $body-background;
  padding: 1em 0 2em;
  border-bottom: solid 2px #aaa;
}
header {
  @include container;
}

ul#nav {
  @include horizontal-list(10px);
  float: right;
  li {
   
    a {
      font-weight: normal;
    } 
  }
}

#wrapper {
  @include container;
}

.breadcrumb {
  margin: 0 0 1em;
}


.impact {
  @include column(24, true);
  padding-top: 40px;
  
}

.intro.with-icons {
  line-height: 48px;
  a {display: inline-block; padding-left: 38px; background-position: left center; background-repeat: no-repeat; }
  a[href='/blog'] {padding-left: 0px;}
  a[href*='twitter'] {@include icon-link('twitter');}
  a[href*='tumblr'] {@include icon-link('tumblr');}
  a[href*='github'] {@include icon-link('github');}
  a[href*='dribbble'] {@include icon-link('dribbble');}
  a[href*='linkedin'] {@include icon-link('linkedin');}
  a[href*='facebook'] {@include icon-link('facebook');}
  a[href*='delicious'] {@include icon-link('delicious');}
  a[href*='readernaut'] {@include icon-link('readernaut');}
  a[href*='slideshare'] {@include icon-link('slideshare');}
  a[href*='vimeo'] {@include icon-link('vimeo');}
  a[href*='flickr'] {@include icon-link('flickr');}
  a[href*='last.fm'] {@include icon-link('lastfm');}
  a[href*='gowalla'] {@include icon-link('gowalla');}
  a[href*='skype'] {@include icon-link('skype');}
  a[href*='mailto'] {@include icon-link('email');}
}

#content {
  margin-top: 1em;
}

article {
  padding: 2em 0;
  border-bottom: solid 1px rgba(0,0,0,.15);
  &:last-child {
    border: none;
  }
}

#middle-wrap {
  @include container;
  margin-top: 1em;
}

body.home #middle {
  section.wynn { 
    left:50%;
    margin:-88px 0 0 -460px;
    position:absolute;
    width:270px;
    img.wynn {margin-top: -100px; }
  }
  .intro { @include column(17, true); @include prepend(7);}
}

#meta {
  @include column(4);
  padding-top: 6em;
}

#content {
  @include column(14);
  @include colborder(rgba(0,0,0,.1), 1px);
}


#sidebar {
  @include column(5, true);
  padding-top: 3em;
}

footer {
  margin-top: 1em;
  padding: 1em 0;
  @include container;
}

pre {
  margin-bottom: 1.5em;
}