~ @page.to_html(self)

.books.block-list
  - @page.pages.sort_by{|p| p.metadata('year').to_i }.reverse.each do |book|
    .book.row.block-list-item{:class => book.metadata('tags').to_s.split(',').join(' ')}
      .two.columns.align_right.phone-one
        - unless book.metadata('thumb_url').nil?
          %a{:href => book.metadata('url')}
            %img{:src => book.metadata('thumb_url')}
        &nbsp;
      .ten.columns.phone-three
        - haml_tag (defined?(heading) ? heading : :h2) do
          %a{ :href => book.metadata('url') }= book.heading
        = book.metadata('year')
        &bull;
        = book.metadata('publisher')
        .summary= book.summary
