~ @page.to_html(self)
- unless @page.metadata('vimeo_id').nil?
  = haml :"shared/vimeo", :layout => false, :locals => {:vimeo_id => @page.metadata('vimeo_id')}
.slide-container
  %script(src="http://speakerdeck.com/embed/#{@page.metadata('speaker_deck_id')}.js?size=preview")

