~ @page.to_html(self)

.talks.block-list
  - @page.articles.each do |talk|
    %article.talk.row.block-list-item{:class => talk.metadata('tags').to_s.split(',').join(' ')}
      .twelve.columns
        .three.phone-one.columns.align-right
          - unless talk.metadata('speaker_deck_id').nil?
            %a{:href => talk.abspath}
              %img.thumb{:src => speaker_deck_thumb_url(talk.metadata('speaker_deck_id'))}
          &nbsp;
        .nine.columns.phone-three
          - haml_tag (defined?(heading) ? heading : :h2) do
            %a{ :href => talk.abspath }= talk.heading
          .summary= talk.summary
