@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body, button, input, select, textarea {
  font-family: sans-serif;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.centered {
  float: none;
  margin: 0 auto;
}

.container {
  padding: 0 20px;
  max-width: 980px;
  min-width: 727px;
}

.row {
  width: 100%;
  margin: 0 auto;
}
.row .row {
  min-width: 0px;
}

.column, .columns {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 4.4%;
  min-height: 1px;
  position: relative;
}
.column:first-child, .columns:first-child {
  margin-left: 0;
}

.row .column.one,
.row .columns.one {
  width: 4.3%;
}
.row .column.two,
.row .columns.two {
  width: 13%;
}
.row .column.three,
.row .columns.three {
  width: 21.7%;
}
.row .column.four,
.row .columns.four {
  width: 30.4%;
}
.row .column.five,
.row .columns.five {
  width: 39.1%;
}
.row .column.six,
.row .columns.six {
  width: 47.8%;
}
.row .column.seven,
.row .columns.seven {
  width: 56.5%;
}
.row .column.eight,
.row .columns.eight {
  width: 65.2%;
}
.row .column.nine,
.row .columns.nine {
  width: 73.9%;
}
.row .column.ten,
.row .columns.ten {
  width: 82.6%;
}
.row .column.eleven,
.row .columns.eleven {
  width: 91.3%;
}
.row .column.twelve,
.row .columns.twelve {
  width: 100%;
}
.row .column.centered,
.row .columns.centered {
  float: none;
  margin: 0 auto;
}
.row .slide-one {
  margin-left: 13.1%;
}
.row .slide-one:first-child {
  margin-left: 8.7%;
}
.row .slide-two {
  margin-left: 21.8%;
}
.row .slide-two:first-child {
  margin-left: 17.4%;
}
.row .slide-three {
  margin-left: 30.5%;
}
.row .slide-three:first-child {
  margin-left: 26.1%;
}
.row .slide-four {
  margin-left: 39.2%;
}
.row .slide-four:first-child {
  margin-left: 34.8%;
}
.row .slide-five {
  margin-left: 47.9%;
}
.row .slide-five:first-child {
  margin-left: 43.5%;
}
.row .slide-six {
  margin-left: 56.6%;
}
.row .slide-six:first-child {
  margin-left: 52.2%;
}
.row .slide-seven {
  margin-left: 65.3%;
}
.row .slide-seven:first-child {
  margin-left: 60.9%;
}
.row .slide-eight {
  margin-left: 74%;
}
.row .slide-eight:first-child {
  margin-left: 69.6%;
}
.row .slide-nine {
  margin-left: 82.7%;
}
.row .slide-nine:first-child {
  margin-left: 78.3%;
}
.row .slide-ten {
  margin-left: 91.4%;
}
.row .slide-ten:first-child {
  margin-left: 87%;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.row:after, .clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}

.block-grid {
  display: block;
  overflow: hidden;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.two-up {
  margin-left: -4%;
}
.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%;
}
.block-grid.three-up {
  margin-left: -2%;
}
.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.3%;
}
.block-grid.four-up {
  margin-left: -4%;
}
.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%;
}
.block-grid.five-up {
  margin-left: -1.5%;
}
.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%;
}

@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
  }

  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .row .row .column, .row .row .columns {
    padding: 0;
  }

  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .column:last-child, .columns:last-child {
    margin-right: 0;
  }

  .slide-one, .slide-two, .slide-three, .slide-four, .slide-five, .slide-six, .slide-seven, .slide-eight, .slide-nine, .slide-ten, .slide-eleven, .centered {
    margin-left: 0% !important;
  }

  .row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child {
    margin-left: 0px;
  }
  .row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column, .row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns {
    float: left;
    min-height: 1px;
    margin-left: 4.4%;
    position: relative;
    padding: 0;
  }
  .row .phone-one.columns {
    width: 21.68% !important;
  }
  .row .phone-two.columns {
    width: 47.8% !important;
  }
  .row .phone-three.columns {
    width: 73.9% !important;
  }
  .row .phone-four.columns {
    width: 100% !important;
  }

  .block-grid.mobile {
    margin-left: 0%;
  }
  .block-grid.mobile li {
    float: none;
    width: 100%;
    margin-left: 0%;
  }
}
.show-on-phones {
  display: none !important;
}

.show-on-tablets {
  display: none !important;
}

.show-on-desktops {
  display: block !important;
}

.hide-on-phones {
  display: block !important;
}

.hide-on-tablets {
  display: block !important;
}

.hide-on-desktops {
  display: none !important;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
  .hide-on-phones {
    display: block !important;
  }

  .hide-on-tablets {
    display: none !important;
  }

  .hide-on-desktops {
    display: block !important;
  }

  .show-on-phones {
    display: none !important;
  }

  .show-on-tablets {
    display: block !important;
  }

  .show-on-desktops {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-on-phones {
    display: none !important;
  }

  .hide-on-tablets {
    display: block !important;
  }

  .hide-on-desktops {
    display: block !important;
  }

  .show-on-phones {
    display: block !important;
  }

  .show-on-tablets {
    display: none !important;
  }

  .show-on-desktops {
    display: none !important;
  }
}
/* only screen and (device-width: 1280px), only screen and (max-device-width: 1280px),  /*
/* Keeping this in as a reminder to address support for other tablet devices like the Xoom in the future */
/* Specific overrides for elements that require something other than display: block */
table.show-on-desktops {
  display: table !important;
}

table.hide-on-phones {
  display: table !important;
}

table.hide-on-tablets {
  display: table !important;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
  table.hide-on-phones {
    display: block !important;
  }

  table.hide-on-desktops {
    display: block !important;
  }

  table.show-on-tablets {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  table.hide-on-tablets {
    display: block !important;
  }

  table.hide-on-desktops {
    display: block !important;
  }

  table.show-on-phones {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  input[type=text], textarea {
    font-size: 1.125em;
    line-height: 1.333em;
    display: block;
    width: 96%;
    padding: 6px 2% 4px;
  }

  .button {
    display: block;
  }

  button.button {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  table.hide-on-tablets {
    display: block !important;
  }
  table.hide-on-desktops {
    display: block !important;
  }
  table.show-on-phones {
    display: block !important;
  }
}
@font-face {
  font-family: "Pictos";
  src: url("/wynn/fonts/pictos/pictos-web.eot");
  src: local("☺"), url("/wynn/fonts/pictos/pictos-web.woff") format("woff"), url("/wynn/fonts/pictos/pictos-web.ttf") format("truetype"), url("/wynn/fonts/pictos/pictos-web.svg#webfontphKv1xv9") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

html > body {
  font-size: 16px;
}

body {
  font-family: ff-meta-serif-web-pro, "Droid Serif", "Cambria", "Palatino", serif;
  color: #333333;
  color: rgba(0, 0, 0, 0.8);
}

p, ul, ol, dl, figure {
  margin: 1.5em 0;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: square;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2, h3, h4, h5, h6 {
  font-size: 1.25em;
  line-height: 1.2em;
}
h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #111111;
}

a {
  color: #333333;
  text-decoration: none;
}
a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.post.journal h1 + p {
  font-size: 1.125em;
  line-height: 1.333em;
  font-style: italic;
}

p .word1,
p .word2,
p .word3 {
  font-size: 0.875em;
  line-height: 1.714em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
}
p .word1, p .word2 {
  margin-right: 0.5em;
}
p .word1 .char1 {
  float: left;
  font-size: 4em;
  line-height: 48px;
}

#wynning {
  color: #a7a7a7;
  font-size: 13px;
  font-family: "Droid Sans", sans-serif;
}
#wynning a {
  color: white;
  font-weight: bold;
}
#wynning ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
#wynning ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
#wynning ul li:first-child, #wynning ul li.first {
  padding-left: 0;
}
#wynning ul li:last-child {
  padding-right: 0;
}
#wynning ul li.last {
  padding-right: 0;
}
#wynning ul li {
  float: right;
  margin-right: 1em;
}
#wynning ul li a {
  -moz-transition-property: color 0.4s ease-in;
  -webkit-transition-property: color 0.4s ease-in;
  -o-transition-property: color 0.4s ease-in;
  transition-property: color 0.4s ease-in;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  font-weight: normal;
}
#wynning ul li a:hover {
  color: white !important;
}
#wynning ul li strong {
  color: white;
}

a.twitter {
  color: #2eb8e7 !important;
}
a.github {
  color: #286da3 !important;
}
a.gowalla {
  color: #f7911f !important;
}
a.facebook {
  color: #5574ad !important;
}
a.linked-in {
  color: #8fbfd7 !important;
}
a.dribbble {
  color: #f64599 !important;
}

header[role=banner] nav,
.splash nav {
  margin-top: 3em;
}
header[role=banner] nav ul,
.splash nav ul {
  font-size: 0.75em;
  line-height: 2em;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header[role=banner] nav ul a,
.splash nav ul a {
  display: block;
  color: black;
}
header[role=banner] nav ul a em, header[role=banner] nav ul a code,
.splash nav ul a em,
.splash nav ul a code {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-family: ff-meta-serif-web-pro, "Droid Serif", "Cambria", "Palatino", serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: -0.4em;
  text-transform: lowercase;
}
header[role=banner] nav ul a code,
.splash nav ul a code {
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Monaco, monospace;
  font-size: 13px;
  font-style: italic;
}

span.amp {
  font-family: Baskerville, GoudyBookletter1911, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.etched, h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.8);
}

.splash {
  text-align: center;
}
.splash span.im {
  display: block;
}

.pullquote {
  font-size: 1.25em;
  line-height: 1.2em;
  color: #aaaaaa;
  display: block;
  float: right;
  margin: 1em -4em 1em 1em;
  width: 40%;
}
.pullquote.left {
  float: left;
  margin: 1em 1em 1em -4em;
  text-align: right;
}

blockquote {
  border-left: solid 2px #aaaaaa;
  color: #888888;
  font-style: italic;
  padding-left: 1.5em;
}

#wrapper + footer {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Droid Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.return {
  text-align: center;
}
.return a {
  color: #111111;
}

html, body {
  height: 100%;
}

ul.archives {
  list-style: none;
}
ul.archives a {
  color: #444444;
}
ul.archives.grid {
  overflow: auto;
}
ul.archives.grid li {
  background: #dddddd;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
ul.archives.grid li:last-child {
  margin-right: 0;
}
ul.archives.grid a {
  font-size: 0.875em;
  line-height: 1.714em;
  display: block;
  height: 144px;
  padding: 5px;
  overflow: hidden;
  width: 144px;
}
ul.archives.grid .summary {
  font-size: 0.688em;
  line-height: 2.182em;
}

h2.year {
  clear: both;
}
h2.year .count {
  color: #aaaaaa;
  font-size: 15px;
  vertical-align: middle;
  display: none;
}

.posts article {
  margin-top: 1.5em;
  margin-bottom: 3em;
  border-color: #bbbbbb;
}
.posts article h2:before {
  content: "S";
  color: rgba(0, 0, 0, 0.3);
  font-family: "Pictos", sans-serif;
  margin-left: -1.5em;
  margin-top: -10px;
  position: absolute;
}
.posts article h2:hover:before {
  color: #111111;
}
.posts article.linked h2:before {
  content: "j";
}
.posts article.talks h2:before {
  content: "9";
}
.posts p {
  margin-bottom: 0;
}

.permalink {
  color: rgba(0, 0, 0, 0.5) !important;
}
.permalink:hover {
  -moz-transition-property: all 0.1s ease-out;
  -webkit-transition-property: all 0.1s ease-out;
  -o-transition-property: all 0.1s ease-out;
  transition-property: all 0.1s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: rgba(0, 0, 0, 0.8) !important;
}

.talks {
  clear: both;
}

.talk {
  margin-bottom: 1.5em;
  clear: both;
  overflow: auto;
}
.talk a img {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  max-height: 75px;
}

.slide-container {
  width: 500px;
}

article p a {
  text-decoration: underline;
}
article p a:hover {
  -moz-transition-property: all 0.05s;
  -webkit-transition-property: all 0.05s;
  -o-transition-property: all 0.05s;
  transition-property: all 0.05s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  background: #dddddd;
  border-color: #aaaaaa;
}
article p img {
  float: right;
  max-width: 100%;
}

.logo-link {
  margin-bottom: 1.5em;
  display: block;
}
.logo-link img {
  height: 128px;
  width: 128px;
}

.branding {
  text-align: center;
}
.branding:hover .front {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.branding:hover .back {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1000;
}

.name {
  color: black;
  font-family: "Sean", ff-meta-serif-web-pro, "Droid Serif", "Cambria", "Palatino", serif;
}

#fusion_ad,
#ad {
  font: 11px/18px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin-top: 4em;
}
#fusion_ad a,
#ad a {
  color: rgba(0, 0, 0, 0.7);
}
#fusion_ad a:hover,
#ad a:hover {
  color: rgba(0, 0, 0, 0.5);
}
#fusion_ad img,
#ad img {
  float: left;
  margin: 0 1em 1em;
}
#fusion_ad .powered-by-fusion,
#ad .powered-by-fusion {
  display: block;
  margin-top: 1em;
}
#fusion_ad .powered-by-fusion .uppercase,
#ad .powered-by-fusion .uppercase {
  text-transform: uppercase;
}

#ad {
  max-width: 250px;
}
#ad .save {
  display: block;
  margin-top: 1em;
}

pre {
  -moz-transition-property: width;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

code {
  font-size: 0.875em;
  line-height: 1.714em;
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Monaco, monospace;
}

pre {
  background: #111111;
  clear: both;
  color: #f0f0f0;
}
pre.plain {
  background: inherit;
  color: inherit;
}

.str {
  color: #a5c261;
}

.kwd {
  color: #a1c2da;
}

.com {
  color: #666666;
}

.typ {
  color: #6e9cbe;
}

.lit {
  color: #c28439;
}

.pun {
  color: #efefef;
}

.pln {
  color: #efefef;
}

.tag {
  color: #e8bf6a;
}

.atn {
  color: #c8a550;
}

.atv {
  color: #a5c261;
}

.dec {
  color: #c28439;
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888888;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style: none;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eeeeee;
}

@media print {
  .str {
    color: #006600;
  }

  .kwd {
    color: #000066;
    font-weight: bold;
  }

  .com {
    color: #660000;
    font-style: italic;
  }

  .typ {
    color: #440044;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun {
    color: #444400;
  }

  .pln {
    color: black;
  }

  .tag {
    color: #000066;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
#wynning {
  margin-bottom: 3em;
  background: black;
  padding: 4px 20px;
}
#wynning img {
  margin: 4px 0;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  #wynning {
    font-size: 12px;
    line-height: 14px;
    padding: 20px 40px;
  }

  .posts article h2:before {
    background: black;
    color: white;
    line-height: 24px;
    margin-left: -20px;
    margin-top: 0;
    position: static;
    text-shadow: none;
  }
  .posts article h2:hover:before {
    color: #111111;
  }
}
#wrapper {
  min-height: 100%;
  padding-bottom: 4em;
}

header[role=banner] {
  overflow: auto;
}

[role=main] {
  clear: both;
}

.splash {
  margin: 3em 0 3em;
}

body > footer {
  text-align: center;
  min-height: 4em;
  margin-top: -4em;
  overflow: hidden;
  padding: 6em 2em 2em;
}

.photoset {
  list-style: none;
}
.photoset a {
  display: block;
  line-height: 0;
  text-align: center;
}
.photoset img {
  max-width: 80%;
}

body {
  background-color: #f0f0f0;
  background-image: url(/wynn/images/bit-tile-alpha.png);
  background-position: center -150px;
  background-repeat: repeat-x;
}

.body.fixed-nav #wynning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.body.fixed-nav .container {
  margin-top: 3em;
}

a.jump {
  display: none;
}
