// @font-face {
//   font-family: 'Entypo-Social';
//   src: url('/fonts/entypo-social.eot');
//   src: url('/fonts/entypo-social.eot' + '?#iefix') format('embedded-opentype'),
//        url('/fonts/entypo-social.woff') format('woff'),
//        url('/fonts/entypo-social.ttf') format('truetype'),
//        url('/fonts/entypo-social.svg' + '#DroidSansRegular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'pengwynn';
  src:url('//d2tagwpl4yek52.cloudfront.net/fonts/pengwynn.eot');
  src:url('//d2tagwpl4yek52.cloudfront.net/fonts/pengwynn.eot?#iefix') format('embedded-opentype'),
    url('//d2tagwpl4yek52.cloudfront.net/fonts/pengwynn.svg#pengwynn') format('svg'),
    url('//d2tagwpl4yek52.cloudfront.net/fonts/pengwynn.woff') format('woff'),
    url('//d2tagwpl4yek52.cloudfront.net/fonts/pengwynn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@include establish-baseline;

body {
  font-family: $face-serif;
}

dt {
  font-weight: bold;
}

blockquote {
  @include apply-side-rhythm-border(left);
  font-style: italic;
  margin-left: 0;
}

.site-footer {
  @include adjust-font-size-to(10px);
  color: lighten($color-text, 20%);
  font-family: $face-sans;
  text-align: center;
}

.pengwynn {
  font-family: 'pengwynn', sans-serif;
  text-decoration: none;
  .branding & {
    display: block;
    font-size: 64px;
    padding: 20px 0;
  }
}

.lead {
  // border-bottom: solid 1px #ddd;
  line-height: 1.4em;
  font-family: $face-sans;
  font-size: 1.2em;
  font-weight: 100;
  margin-bottom: 2em;
  a {
    font-weight: 600;
    text-decoration: none;
  }
  p {
    margin-bottom: 0;
  }
}

.social-links {
  margin: 1.5em auto;
  padding: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  text-align: center;
}

.social-links a {
  font-family: 'pengwynn', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 5px;
  -webkit-font-smoothing: antialiased;
}

hr {
  @include background-image(linear-gradient(left, rgba(#999, 0), rgba(#999, .75), rgba(#999, 0)));
  border: 0;
  height: 1px;
  width:100%;
  margin: 2em 0;
}

.post-meta {
  @include adjust-font-size-to(12px);
  color: lighten($color-text, 30%);
  font-family: $face-sans;
  text-transform: uppercase;
  time {
    font-weight: bold;
  }
}

//-----------------------------------------------------------
// `Banner
//-----------------------------------------------------------

.byline {
  @include adjust-font-size-to(9px);
  font-style: italic;

}
.name {
  font-weight: bold;
  font-family: $face-sans;
  text-transform: uppercase;
}

//-----------------------------------------------------------
// `Nav
//-----------------------------------------------------------

.site-nav {
  @include no-bullets;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}


.banner li {
  @include adjust-font-size-to(10px, 2);
  font-weight: bold;
  display: inline-block;
  letter-spacing: .3em;
  text-align: center;
  width: 20%;
}

#mobile-nav,
.site-nav {
  font-family: $face-sans;
  a {
    text-decoration: none;
  }
}

#mobile-nav {
  li {
    background: $color-off-screen-background;
    line-height: 3em;
    padding: 0 $grid-padding;
    border-bottom: solid 1px lighten($color-off-screen-background, 20%);
  }
}
//-----------------------------------------------------------
// `Headings
//-----------------------------------------------------------

h1 {
  @include adjust-font-size-to(32px);
  font-family: $face-sans;
  font-weight: normal;
  margin-top: 0;
  word-wrap: break-word;
  .stream & {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
  }
  .stream .linked-item & {
    font-weight: normal;
  }
}

#{headings(2,6)} {
  @include adjust-font-size-to(20px);
  font-family: $face-sans;
  font-weight: normal;
  text-transform: uppercase;
}

h2.year{
  border-bottom: solid 1px $color-border;
  font-weight: bold;
  padding-bottom: .5em;
}

//-----------------------------------------------------------
// `Articles
//-----------------------------------------------------------

.permalink {
  display: inline-block;
  font-size: 32px;
  margin: 0 0 0 8px;
  position: absolute;
  text-decoration: none;
}

p {
  margin-top: 0;
}

.view-archives {
  margin-bottom: 4em;
}

.about-the-author {
  @include padding-leader;
}

.page > h1 .external:after {
  color: #ddd;
  content: '\219D';
  display: inline-block;
  margin-left: .2em;
}

.nav-toggle {
  font-size: 4em;
}

.feed {
  font-family: 'pengwynn', sans-serif;
  margin-top: 1em;
  text-decoration: none;
  float: right;
}

//-----------------------------------------------------------
// `Archives
//-----------------------------------------------------------
.archives {
  @include no-bullets;
  padding: 0;
  li {
    @include trailer;
  }
}


//**********************************************************

//-----------------------------------------------------------
// `Desktop typography
//-----------------------------------------------------------

@include at-breakpoint($desktop-layout) {

  dl, ol, ul {
    padding-left: 0;
  }

  .lead {
    font-size: 1.4em;
  }

  .social-links a {
    padding: 0 20px;
  }

  //-----------------------------------------------------------
  // `Headings
  //-----------------------------------------------------------

  h1 {
    @include adjust-font-size-to(32px);
  }

  #{headings(2,6)} {
    @include adjust-font-size-to(20px);
  }

  //-----------------------------------------------------------
  // `Articles
  //-----------------------------------------------------------


  .about-the-author {
    @include adjust-font-size-to(14px);

  }

  .permalink {
    display: inline;
    font-size: inherit;
    margin: 0;
    position: inherit;
  }
}
