:markdown

  This is where I [write,](/blog) mostly about design, development, APIs, and mashups. I also [tweet,](http://twitter.com/pengwynn) [tumble,](http://pengwynn.tumblr.com) [code,](http://github.com/pengwynn) and [dribbble.](http://dribbble.com/players/pengwynn) 
    
  I like to [share,](http://delicious.com/pengwynn) especially [books,](http://readernaut.com/pengwynn) [slides,](http://slideshare.net/pengwynn) [videos,](http://vimeo.com/pengwynn) [tunes,](http://last.fm/user/pengwynn) [photos,](http://flickr.com/wynnxp) and [places I go.](http://gowalla.com/users/pengwynn) 
  
  If we've worked together, let's  [connect.](http://linkedin.com/in/netherland) If you know my Momma or my dog's name, then [friend me.](http://facebook.com/pengwynn)
  
  If you're not selling anything, why not [say hello?](mailto:wynn.netherland@gmail.com)