.impact
  %h1
    Hi, there. My name is
    %span.name Wynn Netherland
  %h2
    I'm a
    %span.name Mashup
    of
    %span.name Design
    %span.amp &amp;
    %span.name Development
    
- content_for :middle do
  %section.wynn
    = image_tag("/images/wynn.png", :class => "wynn")
  .intro= theme_partial 'intro'

  
  
- if false
  %aside
    %h3 Latest headlines
    %ul
      - @articles.each do |article|
        %li
          %a{ :href => article.abspath }= article.heading
