~ @page.to_html(self)

.page(role='main')
  .content
    .books.block-list
      - @page.pages.sort_by{|p| p.metadata('year').to_i }.reverse.each do |book|
        .book.item{:class => book.metadata('tags').to_s.split(',').join(' ')}
          .thumb
            - unless book.metadata('thumb_url').nil?
              %a{:href => book.metadata('url')}
                %img.frame{:src => book.metadata('thumb_url')}
            &nbsp;
          .info
            - haml_tag (defined?(heading) ? heading : :h2) do
              %a{ :href => book.metadata('url') }= book.heading
            .book-meta
              = book.metadata('year')
              &bull;
              = book.metadata('publisher')
            .summary= book.summary.html_safe
