~ @page.to_html(self)

.page(role='main')
  .content
    .talks.block-list
      - @page.articles.each do |talk|
        %article.item.talk{:class => talk.metadata('tags').to_s.split(',').join(' ')}
          - unless talk.metadata('speaker_deck_id').nil?
            .thumb
              %a{:href => talk.abspath}
                %img.frame{:src => speaker_deck_thumb_url(talk.metadata('speaker_deck_id'))}
            .info
              - haml_tag (defined?(heading) ? heading : :h2) do
                %a{ :href => talk.abspath }= talk.heading
              %p.summary= talk.summary.html_safe
