heading: About
keywords: sass, compass, css, ruby, mobile, html5, titanium
description: Wynn Netherland is a Christian husband, father, and full stack web creative.

%h1 About me

= render 'lead'

:markdown
  I grew up in Louisiana, went to school in Arkansas, but Texas is now home.
  I've been building on the web for over fifteen years, almost as long as I've
  been married to my high school sweetheart. I've worked in huge companies and
  small startups. I prefer small teams of five or less.

  <img src='//d2tagwpl4yek52.cloudfront.net/images/rails-club.jpg' class='frame' alt='Speaking in Moscow' />

  I'm a full stack developer but prefer to play where the user meets the
  machine. I love a great user experience. Sometimes this includes a GUI.

  If I didn't have a family to support, I'd probably work for [tee
  shirts][tees]. I can't believe they'll pay you to tell a computer what to do
  all day.

  [tees]: http://teespring.com/404-302


%small
  Photo credit:
  %a(href='https://www.facebook.com/stereodenis') Denis Evgrafov
%br
