heading: About
keywords: cooking, productivity, fireworks, performance, scalability
description: I love cooking, productivity hacks, setting off fireworks, and making servers GO FAST.

%h1 About me

= render 'lead'

:markdown
  I've been doing scalability and performance work since 1997, when I was the lead software developer for the 17th largest website on the Internet (at the ripe old age of 23). Since then I've been addicted to both massive scale web apps and startups. I've built industry leading rich media advertising units, cutting edge pertroleum drilling software, and APIs backing #1 iPhone games.

  More recently, I was at Words with Friends and helped them grow from 5MM DAU to 15MM DAU. Since leaving Zynga, I have been using many of the same marketing and virality tricks to help companies build deeper, and more positive relationships with their users.

= image_tag '/images/old_blog/masthead.png', :class => 'frame', :alt => 'Building fireworks'

:markdown
  Now I operate a boutique consulting company specializing in Scalability and Performance. At Yount Labs, we work with a pool of super talented engineers who have slung Rails, Python, PHP and .Net code at web apps that are in the top 10 for traffic for each of their respective languages.

%br
