heading: About
keywords: sass, compass, css, ruby, mobile, html5, titanium
description: Wynn Netherland is a Christian husband, father, and full stack web creative.

%h1 About me

= haml :lead

:markdown
  My name is Wynn Netherland and I’m a web designer, front-end developer, and CSS geek. I’ve been building on the web since 1996 when I first cranked up [Netscape Composer](http://en.wikipedia.org/wiki/Netscape_Composer) and made my family their own web sites, complete with blink tags.

  I’m a veteran of some [very large ecommerce operations](http://hp.com/), but I prefer the more creative, faster pace world of freelancing and small teams.

  I’m a [Razorback](http://www.uark.edu/home/) now living in Texas with dreams of returning to the Ozarks one day.

  I’ve had the opportunity to help create some very cool things, like [Tweet Congress](http://tweetcongress.org/) which took home a [SxSW Web Award](http://2009.sxsw.com/interactive/web_awards/winners/) in 2009.

