keywords: sass, compass, css, ruby, mobile, html5, api, dotfiles
description: Wynn Netherland is a Christian husband, father, and full stack web creative.

= render 'lead'

= article_summaries(latest_articles(20))
%p.view-archives
  Looking for more?
  View the
  %a(href="/archives")
    %strong archives
  or grab
  %a(href="http://feeds.feedburner.com/wynn")
    %strong the feed.

