#ad.row.hide-on-phones
  %a.four.columns.phone-one(href="http://wynn.fm/sass-meap")
    %img(src="/wynn/images/sass-compass-in-action-80.png" alt="Sass and Compass in Action")
  %a.eight.columns.phone-three(href="http://wynn.fm/sass-meap")
    Accelerate your stylesheets with Sass and Compass.
    %span.save
      %strong Save 40%
      with code
      %strong sass40


