.about-the-author.row
  .three.columns.phone-one
    %img(alt="Wynn Netherland" src="/wynn/images/about-author.png")
  .nine.columns.phone-three
    :markdown
      [Wynn Netherland](/about) is a full stack web creative who lives
      in Texas. When he isn't shipping awesome at [GitHub](http://github.com),
      he geeks out on [The Changelog](http://thechangelog.com),
      [writes about Sass](http://wynn.fm/sass-meap), and occasionally [speaks](/talks)
      at conferences and meetups.

      You can follow him on [Twitter](http://twitter.com/pengwynn) or [GitHub](http://github.com/pengwynn).
