%header#masthead
  .container.centered
    .row
      .branding.six.columns
        %a(href="/")
          %img.logo-mark(alt="logo" src="/wynn/images/wynning.png")
      .six.columns
        = haml :"shared/nav", :layout => false
