%header#masthead
  .container.centered
    .row
      .branding.three.columns
        %a(href="/")
          %img.logo-mark(alt="logo" src="/wynn/images/wynning.png")
      .nine.columns
        .hide-on-phones= haml :"shared/nav", :layout => false
