%nav(role="navigation")
  %ul.site-nav.block-grid.mobile.five-up
    %li
      %a(href="/archives") Archives
    %li
      %a(href="/talks") Talks
    %li
      %a(href="/books") Books
    %li.about
      %a(href="/about") About
    %li
      %a(href="http://feeds.feedburner.com/wynn") Subscribe

