%nav(role="navigation")
  %dl.tabs.mobile
    %dd
      %a(href="/archives") Archives
    %dd
      %a(href="/talks") Talks
    %dd
      %a(href="/books") Books
    %dd.about
      %a(href="/about") About
    %dd
      %a(href="http://feeds.feedburner.com/wynn") Subscribe

