%script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
%script(src="/wynn/js/prettify/prettify.js")
%script(src="/wynn/js/jquery.widont.js")
-# %script(src="/wynn/js/jquery.lettering.js")
%script(type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4eefa02b7cd737c9")
%script(src="//platform.twitter.com/widgets.js" charset="utf-8")
%script(src="/wynn/js/site.js")
