- unless pages.empty?
  .posts.block-list
    - pages.each do |page|
      %article.block-list-item{:class => css_classes_for(page)}
        - haml_tag (defined?(heading) ? heading : :h2) do
          %a{ :href =>  url_for(page) }
            = page.heading
            - if page.is_linked?
              %span.permalink.muted &rarrw;
        - if page.is_linked?
          ~ page.body
        - else
          %p~ page.metadata('summary')

        %footer.align-right
          -# - if page.is_linked?
            %a.permalink{:href => page.abspath, :title => 'permalink'} ⦿
          %a.permalink{:href => page.abspath, :title => "Permalink"}
            &starf;
