.you-might-like
  %h3 You might like
  :markdown
    * [Dotfile Discovery](http://wynnnetherland.com/journal/dotfiles-discovery)
    * [CoffeeScript-friendly typefaces - it's all about the dashrocket](http://wynnnetherland.com/journal/2011102001/coffeescript-friendly-typefaces-it-s-all-about-the-dashrocket)
    * [What makes a good API wrapper?](http://wynnnetherland.com/journal/what-makes-a-good-api-wrapper)
    * [Octopress Classic is the new Kubrick](http://wynnnetherland.com/journal/octopress-classic-is-the-new-kubrick)
    * [GitHub is a fish bowl](http://wynnnetherland.com/journal/github-is-a-fish-bowl)
