@media only screen and (max-width: 767px)

  // `Body
  //----------------------------------------------------------------------------------------------------


  // `Headings
  //----------------------------------------------------------------------------------------------------

  h1
    font-size: 24px
    line-height: 28px

  // `Lists
  //----------------------------------------------------------------------------------------------------

  article
    ul, ol
      padding: 0 $groove-padding



