// `Base styles
//----------------------------------------------------------------------------------------------------

+establish-baseline

body
  font-family: $face-serif
  color: $color-text
  color: rgba(0,0,0,.8)

p, ul, ol, dl, figure
  margin: 1.5em 0

ul, ol
  padding: 0

ul
  list-style: square


// `Headings
//----------------------------------------------------------------------------------------------------

#{headings()}
  @extend .etched
  font-weight: 300
  margin: 0

h1
  +adjust-font-size-to(36px)
#{headings(2,6)}
  +adjust-font-size-to(20px)
  a
    +link-colors(#111)
    text-decoration: none

// `Links
//----------------------------------------------------------------------------------------------------

a
  +link-colors($color-links)
  &:focus
    outline: none


.permalink
  +link-colors(#bbb, #333)
  text-decoration: none

button::-moz-focus-inner
  border: 0

// `Paragraphs
//----------------------------------------------------------------------------------------------------

.post.journal h1 + p
  +adjust-font-size-to(18px)
  font-style: italic

p
  .word1,
  .word2,
  .word3
    +adjust-font-size-to(14px)
    letter-spacing: .3em
    text-transform: uppercase
    position: relative
  .word1, .word2
    margin-right: .5em
  .word1
    .char1
      float: left
      font-size: 4em
      line-height: 48px
      // margin-top: .1em

// `Other
//----------------------------------------------------------------------------------------------------

span.amp
  font:
    family: Baskerville,GoudyBookletter1911,'Goudy Old Style',Palatino,'Book Antiqua',serif
    style: italic

.etched
  text-shadow: -1px 1px 0 rgba(#fff, .8)


// `Pullquote
//----------------------------------------------------------------------------------------------------

.pullquote
  +adjust-font-size-to(20px)
  color: #aaa
  display: block
  float: right
  margin: 1em -4em 1em 1em
  width: 40%
  &.left
    float: left
    margin: 1em 1em 1em -4em
    text-align: right

// `Blockquote
//----------------------------------------------------------------------------------------------------
blockquote
  border-left: solid 2px #aaa
  color: #888
  font-style: italic
  padding: 0 20px



// `Masthead
//----------------------------------------------------------------------------------------------------
.backdrop
  small
    font-family: $face-sans
    text-transform: uppercase


.site-nav
  font:
    family: $face-ubuntu
    size: 11px
    weight: 600
  letter-spacing: 3px
  line-height: 14px
  margin: 0
  text-transform: uppercase
  a
    display: block
    color: #000
    text-decoration: none
  em, code
    color: rgba(#000, .5)
    display: block
    font-family: $face-serif
    font-weight: normal
    font-size: 12px
    letter-spacing: 0
    padding-right: 3px
    text-transform: lowercase
  code
    font-family: $face-mono
    font-size: 11px
    font-style: italic
    line-height: 12px

// `Article
//----------------------------------------------------------------------------------------------------
article footer
  +adjust-font-size-to(14px)
